<div class="container">
    <div class="row">
        <div class="col-3">
          <img src="../../../assets/icons/listNest-logo.png" style="width: 25vw; padding: 0; margin:0">
        </div>
        <div class="col-8">
            <h3 class="text-center" style="margin-top:5vh;">Lista de Compras</h3>
        </div>
    </div>
    <hr/>
    <div class="row lista" *ngFor="let ITEM of listas">
        <div class="col-4">{{ ITEM.data | date: 'dd/MM/yyyy'}}</div>
        <div class="col-4"><a [routerLink]="['/detalhe',ITEM.id]">{{ ITEM.nomeMercado }}</a></div>
        <div class="col-3">{{ ITEM.valorTotal | currency }}</div>
        <div class="col-1" (click)="removerLista(ITEM.id)"><i class="fa-solid fa-trash"></i></div>
    </div>
    
    <!--Modal para incluir nova lista -->
    <!-- Button trigger modal -->
<button type="button" id="btnNovaLista" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Incluir Nova Lista</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="txtData" class="form-label">Data da Compra</label>
                <input type="date" class="form-control" id="txtData" [(ngModel)]="novaLista.data">
            </div>
            <div class="mb-3">
                <label for="txtLocal" class="form-label">Nome do Local</label>
                <input type="txt" class="form-control" id="txtLocal"  [(ngModel)]="novaLista.nomeMercado">
            </div>
            <div class="mb-3">
                <label for="txtValorTotal" class="form-label">Orçamento/Valor Total</label>
                <input type="number" class="form-control" id="txtValorTotal"  [(ngModel)]="novaLista.valorTotal">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="cadastrarLista()">Armazenar</button>
        </div>
      </div>
    </div>
  </div>
</div>