#btnNovaLista{
    width:30px;
    height:30px;
    position:fixed;
    bottom:1em;
    right:1em;
    background-color: green;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lista{
    border-bottom:1px solid gray;
    padding-left:2px;
    padding-right: 5px;
}

a, a:active, a:link, a:hover, a:visited{
    text-decoration: none;
    color:#000;
    font-weight: bolder;
}